.user-cart-grid {
  .dx-datagrid-rowsview {
    .dx-row {
      > td {
        &:last-child {
          border-right: 1px solid #ddd;
        }
      }
    }
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 40px;
  gap: 10px;
}
